:root {
	--background-color: rgb(14, 15, 17);
	--foreground-color: rgb(208, 233, 232);
	--foreground-color-hover: rgb(211, 246, 255);
	--panel-color: rgba(49, 100, 167, 0.1);
	--panel-color-hover: rgba(48, 106, 180, 0.25);
	--border-color: rgb(44, 98, 169);
	--score-color: rgb(155, 255, 255);
	--accent-color: rgb(40, 105, 189);
	--good-color: rgb(153, 255, 51);
	--bad-color: rgb(229, 43, 80);
	--border-width: 2px;
	--transition: all 400ms ease;
}

* {
	box-sizing: border-box;
	font-family: "Roboto Condensed", Sans-serif;
}

#background-pattern {
	display: block;
	height: 100vh;
	width: 100vw;

	background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%);
	background-position: 0% 0%;
	background-size: 2vmin 2vmin;

	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -5;
}

#background-pattern-2 {
	display: block;
	height: 100vh;
	width: 100vw;

	background-image: radial-gradient(rgba(255, 255, 255, 0.1) 4.5%, transparent 4.5%);
	background-position: 1vmin 1vmin;
	background-size: 2vmin 2vmin;

	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -5;
}

form {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--background-color);
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.header {
	font-size: 2.5em;
	font-weight: bolder;
	font-style: oblique;
	text-transform: uppercase;
	white-space: nowrap;
	text-decoration: none;
	color: var(--foreground-color);
}

.header:disabled {
	opacity: 0.5 !important;
	cursor: not-allowed;
}

.test-border {
	border: 1px magenta solid;
}

.border-left {
	border-left: var(--border-width) solid var(--border-color);
}

.border-right {
	border-right: var(--border-width) solid var(--border-color);
}

.border-top {
	border-top: var(--border-width) solid var(--border-color);
}

.border-bottom {
	border-bottom: var(--border-width) solid var(--border-color);
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: 100px auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"logo wrapper"
		"stats results";
}

.wrapper {
	grid-area: wrapper;
	display: grid;
	grid-template-columns: auto min-content min-content;
	grid-template-rows: auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "title query social";
}

.logo {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo > img {
	width: 256px;
	margin-left: -3%;
}

.title {
	grid-area: title;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2rem;
	overflow: hidden;
}

.query {
	grid-area: query;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;
	padding: 0 2rem;
}

.query > a,
.query > button {
	transition: var(--transition);
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

.query:hover > a,
.query:hover > button {
	opacity: 0.5;
}

.query:hover > a:hover,
.query:hover > button:hover {
	text-shadow: 0 0 1rem var(--accent-color);
	color: var(--foreground-color-hover);
	opacity: 1;
}

.social {
	grid-area: social;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;
	padding: 0 2rem;
}

.social > a {
	transition: var(--transition);
}

.social:hover > a {
	opacity: 0.5;
}

.social:hover > a:hover {
	text-shadow: 0 0 1rem var(--accent-color);
	color: var(--foreground-color-hover);
	opacity: 1;
}

.stats {
	grid-area: stats;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.button {
	border: var(--border-width) solid var(--border-color);
	color: var(--foreground-color);
	background: var(--panel-color);
	font-size: 2rem;
	font-weight: bolder;
	font-style: oblique;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}

.button:hover {
	background: var(--panel-color-hover);
	border-color: var(--accent-color);
	text-shadow: 0 0 1rem var(--accent-color);
}

.button:active {
	background: var(--accent-color);
	border-color: var(--foreground-color);
	color: var(--background-color);
	transition: none;
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.results {
	grid-area: results;
	overflow: auto;
}

.table-results {
	border-collapse: collapse;
	width: 100%;
}

.table-results > thead > tr > th {
	color: var(--foreground-color);
	font-size: 1.75rem;
	font-weight: bolder;
	font-style: oblique;
	text-transform: uppercase;
	white-space: nowrap;
	padding: 0.5rem 0.5rem;
	transition: var(--transition);
}

.table-results > thead > tr,
.table-results > tbody > tr {
	transition: var(--transition);
}

.table-results > thead > tr {
	background-color: var(--panel-color);
}

.table-results > thead > tr:hover {
	background-color: var(--panel-color-hover);
}

.table-results > thead > tr:hover > th,
.table-results > thead > tr:hover > th > select,
.table-results > thead > tr:hover > th > input,
.table-results > thead > tr:hover > th > button {
	color: var(--foreground-color-hover) !important;
}
.table-results > thead > tr:hover > th:hover,
.table-results > thead > tr:hover > th:hover > select,
.table-results > thead > tr:hover > th:hover > input,
.table-results > thead > tr:hover > th:hover > button {
	text-shadow: 0 0 0.5em var(--accent-color);
}

/* .table-results > tbody {
	overflow: auto;
} */

.table-results > tbody > tr > td {
	font-style: oblique;
}

.table-results > tbody > tr:hover {
	background-color: var(--panel-color);
}

.table-results > tbody > tr:hover > td {
	color: var(--foreground-color-hover) !important;
}

.table-results > tbody > tr > td {
	color: var(--foreground-color);
	font-size: 1.5em;
	text-align: center;
	white-space: nowrap;
	padding: 0.25em 0.25em;
	transition: var(--transition);
}

.table-results > tbody > tr:hover > td:hover {
	text-shadow: 0 0 0.5em var(--accent-color);
}

.results-selected {
	background: var(--panel-color);
}

.cell-ship {
	text-shadow: 0 0 0.5em var(--accent-color);
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.075em;
}

.column-ship {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column-select {
	appearance: none;
	border: none;
	background: none;
	color: var(--foreground-color);
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: bolder;
	font-style: oblique;
	text-transform: uppercase;
	text-align: center;
	min-width: min-content;
	cursor: pointer;
	transition: var(--transition);
}

.column-select:active {
	background: var(--accent-color);
	color: var(--background-color) !important;
}

.column-select:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.column-input {
	appearance: textfield;
	font-size: 1em;
	font-style: oblique;
	border: none;
	background: none;
	color: var(--foreground-color);
	padding: 0;
	margin: 0;
	max-width: min-content;
	text-align: center;
	cursor: pointer;
	transition: var(--transition);
}

.column-input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.column-input:invalid {
	color: var(--bad-color);
}

/* .column-input::placeholder {
	font-family: "FontAwesome";
	font-style: normal;
	opacity: 1;
} */

.style-fa {
	font-family: "FontAwesome";
	font-style: normal;
}

.cell-ship {
	font-style: normal !important;
}

.cell-ship > img {
	width: 1.125em;
	height: 1.125em;
}

.cell-score {
	text-shadow: 0 0 0.5em var(--score-color) !important;
	font-weight: bolder;
	font-style: normal !important;
}

.cell-good {
	text-shadow: 0 0 0.5em var(--good-color) !important;
	font-weight: bolder;
}

.cell-bad {
	text-shadow: 0 0 0.5em var(--bad-color) !important;
	font-weight: bolder;
}

.cell-class-X {
	color: rgb(153, 26, 189) !important;
	font-weight: bolder;
}

.cell-class-S {
	color: rgb(201, 20, 118) !important;
	font-weight: bolder;
}

.cell-class-A {
	color: rgb(222, 172, 16) !important;
	font-weight: bolder;
}

.cell-class-B {
	color: rgb(12, 192, 31) !important;
	font-weight: bolder;
}
